/* -------- HINTS -------- */
#vimiumHintMarkerContainer div.internalVimiumHintMarker, #vimiumHintMarkerContainer div.vimiumHintMarker {
  background: #1d2021;
  border: 1px solid #282828;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 3px 4px;
}

#vimiumHintMarkerContainer div span {
  color: #d4be98;
  font-family: tewi, Comic Sans MS, sans;
  font-size: 13;
  font-weight: normal;
  text-shadow: none;
}

#vimiumHintMarkerContainer div > .matchingCharacter {
  opacity: 0.3;
}

#vimiumHintMarkerContainer div > .matchingCharacter ~ span {
  color: #89b482;
}

/* -------- VOMNIBAR -------- */
#vomnibar {
  animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
  background: #1d2021;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Animate Slide in */
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#vomnibar .vomnibarSearchArea,
#vomnibar input {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #d4be98;
  font-family: tewi, Comic Sans MS, sans;
  font-size: 15;
  font-weight: normal;
}

#vomnibar .vomnibarSearchArea {
  padding: 2px 30px;
}

#vomnibar input {
  padding: 2px}

#vomnibar ul {
  background: #1d2021;
  border-top: 1px solid #3c3836;
  margin: 0;
  padding: 2px;
}

#vomnibar li {
  border-bottom: 1px solid #3c3836;
  padding: 2px;
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  padding: 2px 0;
}

#vomnibar li .vomnibarSource {
  color: #e78a4e;
  font-family: tewi, Comic Sans MS, sans;
  font-size: 14;
  font-weight: normal;
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: #5a524c;
  font-family: tewi, Comic Sans MS, sans;
  font-size: 15;
  font-weight: normal;
}

#vomnibar li .vomnibarUrl {
  color: #ebdbb2;
  font-family: tewi, Comic Sans MS, sans;
  font-size: 13;
  font-weight: normal;
}

#vomnibar li .vomnibarMatch {
  color: #b8bb26;
  font-weight: normal;
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: #a9b665;
}

#vomnibar li.vomnibarSelected {
  background-color: #504945;
}

/* -------- HUD -------- */
div.vimiumHUD {
  background: #1d2021;
  border: 1px solid #504945;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: #d4be98;
  font-family: tewi, Comic Sans MS, sans;
  font-size: 13;
  font-weight: normal;
}

div.vimiumHUD .hud-find {
  background-color: transparent;
  border: none;
}
div.vimiumHUD {
  width: auto;
  left: 207px;
}
div.vimiumHUD .vimiumHUDSearchArea {
  background-color: transparent;
}
